# Map, Filter, Reduce

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Each-student-is-randomly-assigned-a-topic" data-toc-modified-id="Each-student-is-randomly-assigned-a-topic-0.1"><span class="toc-item-num">0.1&nbsp;&nbsp;</span>Each student is randomly assigned a topic</a></span></li></ul></li><li><span><a href="#Let's-start" data-toc-modified-id="Let's-start-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Let's start</a></span><ul class="toc-item"><li><span><a href="#Create-groups-with-other-people-who-have-studied-the-same-function" data-toc-modified-id="Create-groups-with-other-people-who-have-studied-the-same-function-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Create groups with other people who have studied the same function</a></span></li></ul></li><li><span><a href="#Map,-Filter,-Reduce" data-toc-modified-id="Map,-Filter,-Reduce-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Map, Filter, Reduce</a></span><ul class="toc-item"><li><span><a href="#Map" data-toc-modified-id="Map-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Map</a></span><ul class="toc-item"><li><span><a href="#First-we-do-it-with-functions" data-toc-modified-id="First-we-do-it-with-functions-2.1.1"><span class="toc-item-num">2.1.1&nbsp;&nbsp;</span>First we do it with functions</a></span></li><li><span><a href="#Extra:-Do-it-with-lambda!" data-toc-modified-id="Extra:-Do-it-with-lambda!-2.1.2"><span class="toc-item-num">2.1.2&nbsp;&nbsp;</span>Extra: Do it with lambda!</a></span></li></ul></li><li><span><a href="#Filter" data-toc-modified-id="Filter-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Filter</a></span><ul class="toc-item"><li><span><a href="#First-we-do-it-with-functions" data-toc-modified-id="First-we-do-it-with-functions-2.2.1"><span class="toc-item-num">2.2.1&nbsp;&nbsp;</span>First we do it with functions</a></span></li><li><span><a href="#Extra:-Do-it-with-lambda!" data-toc-modified-id="Extra:-Do-it-with-lambda!-2.2.2"><span class="toc-item-num">2.2.2&nbsp;&nbsp;</span>Extra: Do it with lambda!</a></span></li></ul></li><li><span><a href="#Reduce" data-toc-modified-id="Reduce-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Reduce</a></span><ul class="toc-item"><li><span><a href="#What-happened?" data-toc-modified-id="What-happened?-2.3.1"><span class="toc-item-num">2.3.1&nbsp;&nbsp;</span>What happened?</a></span></li></ul></li><li><span><a href="#First-we-do-it-with-functions" data-toc-modified-id="First-we-do-it-with-functions-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>First we do it with functions</a></span></li><li><span><a href="#Bonus:-Do-it-with-lambda!" data-toc-modified-id="Bonus:-Do-it-with-lambda!-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Bonus: Do it with lambda!</a></span></li></ul></li><li><span><a href="#Summary" data-toc-modified-id="Summary-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Summary</a></span></li><li><span><a href="#Further-materials" data-toc-modified-id="Further-materials-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Further materials</a></span></li></ul></div>

### Each student is randomly assigned a topic

In [1]:
"a string".upper()

'A STRING'

In [12]:
students = [
    "@Andrés Castro", 
    "@Dani",
    "@David TC", 
    "@David Vicente",
    "@Germán Ortolá DA FT JAN2023", 
    "@Gerard Rius", 
    "@Gonzalo", 
    "@Graham",
    "@imanol", 
    "@Laura Sarabia", 
    "@Nicolas Blasi", 
    "@Santiago", 
    "@Sergi Coll", 
    "@Tim", 
    "@Tom",
    "@Victor Ramos",
    "@Archie Hulse", 
    "placeholder"

]

In [13]:
import random

In [14]:
students

['@Andrés Castro',
 '@Dani',
 '@David TC',
 '@David Vicente',
 '@Germán Ortolá DA FT JAN2023',
 '@Gerard Rius',
 '@Gonzalo',
 '@Graham',
 '@imanol',
 '@Laura Sarabia',
 '@Nicolas Blasi',
 '@Santiago',
 '@Sergi Coll',
 '@Tim',
 '@Tom',
 '@Victor Ramos',
 '@Archie Hulse',
 'placeholder']

In [15]:
# Group 1: [("Andres", "map"), ("dani", "filter"), ("David", "reduce")]
# Group 2: [("Andres", "map"), ("dani", "filter"), ("David", "reduce")]

In [16]:
topics = ["map"] * 6 +  ["filter"] * 6 + ["reduce"] * 6

In [17]:
topics

['map',
 'map',
 'map',
 'map',
 'map',
 'map',
 'filter',
 'filter',
 'filter',
 'filter',
 'filter',
 'filter',
 'reduce',
 'reduce',
 'reduce',
 'reduce',
 'reduce',
 'reduce']

In [18]:
# Group 1: [("Andres", "map"), ("dani", "filter"), ("David", "reduce")]
# Group 2: [("Andres", "map"), ("dani", "filter"), ("David", "reduce")]

In [38]:
random.shuffle(students) #this returns None, modifies in place
students

['@Sergi Coll',
 'placeholder',
 '@Gerard Rius',
 '@Andrés Castro',
 '@Tim',
 '@imanol',
 '@Victor Ramos',
 '@Germán Ortolá DA FT JAN2023',
 '@Tom',
 '@Laura Sarabia',
 '@David TC',
 '@David Vicente',
 '@Gonzalo',
 '@Graham',
 '@Archie Hulse',
 '@Dani',
 '@Nicolas Blasi',
 '@Santiago']

In [40]:
# two lists: zip

alltogether = list(zip(students, topics))
alltogether

[('@Sergi Coll', 'map'),
 ('placeholder', 'map'),
 ('@Gerard Rius', 'map'),
 ('@Andrés Castro', 'map'),
 ('@Tim', 'map'),
 ('@imanol', 'map'),
 ('@Victor Ramos', 'filter'),
 ('@Germán Ortolá DA FT JAN2023', 'filter'),
 ('@Tom', 'filter'),
 ('@Laura Sarabia', 'filter'),
 ('@David TC', 'filter'),
 ('@David Vicente', 'filter'),
 ('@Gonzalo', 'reduce'),
 ('@Graham', 'reduce'),
 ('@Archie Hulse', 'reduce'),
 ('@Dani', 'reduce'),
 ('@Nicolas Blasi', 'reduce'),
 ('@Santiago', 'reduce')]

## Let's start

You have 10 minutes to explore and understand the role you have been assigned on your own. You may find these links useful:

- [map, filter, reduce - I](https://medium.com/swlh/higher-order-functions-in-python-map-filter-and-reduce-34299fee1b21)
- [map, filter, reduce - II](https://www.learnpython.org/en/Map,_Filter,_Reduce)
- [map, filter, reduce - III](https://stackabuse.com/map-filter-and-reduce-in-python-with-examples)

### Create groups with other people who have studied the same function

![otrogif](https://media.giphy.com/media/UatRnEUNX8iCQ/giphy.gif)

In this part of the game you are assigned to a group in which you are the expert in your role.
Each group member has 5 minutes to explain their role to the other team members.

In [41]:
alltogether[0]

('@Sergi Coll', 'map')

In [44]:
map_experts = list(filter(lambda x: x[1] == "map", alltogether))
filter_experts = list(filter(lambda x: x[1] == "filter", alltogether))
reduce_experts = list(filter(lambda x: x[1] == "reduce", alltogether))

In [45]:
reduce_experts

[('@Gonzalo', 'reduce'),
 ('@Graham', 'reduce'),
 ('@Archie Hulse', 'reduce'),
 ('@Dani', 'reduce'),
 ('@Nicolas Blasi', 'reduce'),
 ('@Santiago', 'reduce')]

In [48]:
counter = 1
for everyone in zip(map_experts, filter_experts, reduce_experts):
    print(f"Group {counter}: {[[i][0] for i in everyone]}")
    counter += 1

Group 1: [('@Sergi Coll', 'map'), ('@Victor Ramos', 'filter'), ('@Gonzalo', 'reduce')]
Group 2: [('placeholder', 'map'), ('@Germán Ortolá DA FT JAN2023', 'filter'), ('@Graham', 'reduce')]
Group 3: [('@Gerard Rius', 'map'), ('@Tom', 'filter'), ('@Archie Hulse', 'reduce')]
Group 4: [('@Andrés Castro', 'map'), ('@Laura Sarabia', 'filter'), ('@Dani', 'reduce')]
Group 5: [('@Tim', 'map'), ('@David TC', 'filter'), ('@Nicolas Blasi', 'reduce')]
Group 6: [('@imanol', 'map'), ('@David Vicente', 'filter'), ('@Santiago', 'reduce')]

## Map, Filter, Reduce

There are three functions that will come in very handy when working with iterators. These functions facilitate certain basic and common operations on iterable collections of data, such as removing elements that do not meet a certain condition, calculating a result from the contained data, or applying a transformation to each element. Let's see them with examples of use:

### Map

The map() function takes a function and a list and applies that function to each element in that list, producing a new list.
```python
map(function_to_apply, list_of_inputs)
```

In [52]:
random.choice(map_experts)

('@imanol', 'map')

- function
    - does things: combine iterables, it can combine
    - it can be one
    - tell them what to do
    
    - like a for loop: takes iterables & functions
    - returns a map object
    - which you can cast into a list

`goal: square of numbers`

#### First we do it with functions

In [53]:
def square (n):
    return n ** 2

In [54]:
square (2)

4

In [55]:
list_ = [2, 4, 6]

In [59]:
# 1. Manually

new_list = []
for i in list_:
    new_list.append(i ** 2)
new_list

[4, 16, 36]

In [58]:
# 2. In a loop with a function

new_list = []
for i in list_:
    new_list.append(square(i))
new_list

[4, 16, 36]

In [60]:
# 3. map: function & iterable 

list_

[2, 4, 6]

In [61]:
new_list_map = list(map(square, list_))
new_list_map

[4, 16, 36]

In [63]:
# 1. function already defined
# 2. to every single element

map(square, list_)

In [64]:
list(map(square, list_))

[4, 16, 36]

In [67]:
# 4. list comprehension

new_list = [i ** 2 for i in list_]
new_list

new_list_comp = [square(i) for i in list_]
new_list_comp

[4, 16, 36]

The map function returns an iterator, so we have to use `list(map_iterator)`

#### Extra: Do it with lambda!

In [ ]:
# lambda x: x ** 2
# 1. x = 2
# 2. x = 4
# 3. x = 6 
# ...

In [ ]:
lambda arguemnt: argument + 1

def ___ (arguemnt):
    return argument + 1

In [69]:
new_list_lambda = list(map(lambda x: x ** 2 + 100 + 344358, list_))
new_list_lambda

[4, 16, 36]

In [ ]:
" sdsdUDD ".apply(lambda x: x.strip().lower()[:2]) #once

In [ ]:
def cleaning_string (x):
    return x.strip().lower()[:2]

In [ ]:
cleaning_string() #pipeline: donwload every day the same csv updated

"""It takes
What it returns
what it does
"""

In [70]:
square(4)

16

In [71]:
square(100)

10000

In [ ]:
# an aux way to write function without having to define them
# a lambda has no name

In [104]:
import time
import random

In [101]:
list_ = [2, 4, 6, 10 , 10000, 100, 90, 80, 1000000, 9000000, 100000000000000000, 10000000, 1, 2, 34, 45, 5, 4, 5, 65]

In [109]:
# a list with random numbers

# empty list
# append random value
# limit
# range

In [3]:
import time
import random

In [4]:
new_random_list = [i for i in range(10000000)]
new_random_list[9]

9

In [6]:
def square (n):
    return n ** 2

In [7]:
# 1. Create a list and append

%time
new_list = []
for i in new_random_list:
    new_list.append(square(i))
new_list[1]

CPU times: user 2 µs, sys: 1 µs, total: 3 µs
Wall time: 5.25 µs

1

In [9]:
# 2. Run function through map

%time
new_list = list(map(square, new_random_list))
new_list[1]

CPU times: user 2 µs, sys: 0 ns, total: 2 µs
Wall time: 5.01 µs

1

In [ ]:
# YOU ALWAYS DO THINGS TO ONE ITEM:
    # scale things up

In [ ]:
[({key: [(" sdsdUDD ")]}), 
     ({key: [()]}), 
         ({key: [()]})]

In [ ]:
map(function_specific, to_many_things)

In [ ]:
# map
# filter
# reduce

In [11]:
# Q Sergi: more arguments

def addition (a, b):
    return a + b

In [14]:
list_1 = [1, 2, 3]
list_2 = [4, 5 ,6]

new_list_two_args = list(map(addition, list_1, list_2))
new_list_two_args

[5, 7, 9]

In [15]:
# Q Gerard: what if the length is mismatched: 
# A: docs say:  Stops when the shortest iterable is exhausted.

list_1 = [1, 2, 3]
list_2 = [4, 5 ,6, 8]

new_list_two_args = list(map(addition, list_1, list_2))
new_list_two_args

[5, 7, 9]

In [16]:
# Added value of map -> I can include a function!

### Filter

The filter() function filters a list of items for which a function returns True.
```python
filter(a_function, a_list)
```

Imagine you want to filter a list of numbers to get only even values.

In [19]:
#filter_experts

#### Filter
    - Function 
    - it will run in each iteration to see if the condition is true/false
    - it creartes a list with the functions that are true
    
    
    - list of # n
    - odd numbers
    
    - output -> list with odd numbers
    
    - filter()
        - does things: filters based on a boolean condition
        - returns: same object (iterable) but filtered based on boolean condition

#### First we do it with functions

In [40]:
def odd_even (number):
    if number % 2 == 0:
        return number

In [41]:
list_ = [1, 2, 3, 4 , 5, 6, 7, 8, 9, 10, 11]

In [42]:
new_list = []

for i in list_:
    new_list.append(odd_even(i))
new_list

[None, 2, None, 4, None, 6, None, 8, None, 10, None]

In [45]:
new_list_filtered_through_comp = [i for i in new_list if i]
new_list_filtered_through_comp

[2, 4, 6, 8, 10]

In [35]:
def odd_even (number):
    if number % 2 == 0:
        return True

In [36]:
new_list = list(filter(odd_even, list_))
new_list

[2, 4, 6, 8, 10]

In [47]:
# Q 1: filter applies a func to an iterable. does it change the original list
# A: original object is not modified
filter(odd_even, list_)
list_
    
# Q 2: methods on lists only?
# A: On anything you can loop

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [ ]:
# Q: one argument
# A: for pandas: pandas or numpy (same-ish)

In [ ]:
# Q: filter(funcction, list_)

list(filter(function, iterable))

Imagine that you want to filter a list and keep only the groups that start with the letter R

In [66]:
list_of_words = ["Rufus", "Rosalía", "Bad Bunny", "Bizarrap"]

In [67]:
new_list_r = []
for i in list_of_words:
    if i.startswith("R"):
        new_list_r.append(i)
new_list_r

['Rufus', 'Rosalía']

In [68]:
def checks_r (x):
    if x.lower().startswith("r"):
        return True

In [69]:
new_list_r = list(filter(checks_r, list_of_words))
new_list_r

['Rufus', 'Rosalía']

#### Extra: Do it with lambda!

In [72]:
new_list_r_lamba = list(filter(lambda x: x.startswith("R"), list_of_words))
new_list_r_lamba

['Rufus', 'Rosalía']

### Reduce

This function is not a built-in function, which means you must first import the functools library for use. The reduce() function cumulatively applies the f() function to the elements of the iterable. The accumulator can be initialized with an optional third argument. The result is the final value of the accumulator.

```python
reduce(function, iterable[, initial])
```

In [ ]:
#random.choice(reduce_experts)

In [74]:
from functools import reduce

- one final VALUE
- two arguments:
    - 1st: function
    - 2nd: looped object
    - needs to be imported
    - flow:
        - first item: apply function -> one value
        - one value: apply function -> another value
        - another value: apply function -> last result
        - return last result
    - optional argument: initial: first value you want to begin with

In [93]:
list_ = [1, 1, 1, 1, 1, 1, 1]
#list_ = [2, 1, 1, 1, 1, 1]
#list_ = [3, 1, 1, 1, 1]
#list_ = [4, 1, 1, 1]
#list_ = [5, 1, 1]
#list_ = [6, 1]
#list_ = 7

# The result of an operation will be the input for the next one

def addition (a, b):
    print("First argument: ", a)
    print("Second argument: ", b)
    print("-----------")

    #print(f"Iteration: {a + b}")
    return a + b

In [92]:
var = reduce(addition, list_)
var

First argument:  1
Second argument:  1
-----------
First argument:  2
Second argument:  1
-----------
First argument:  3
Second argument:  1
-----------
First argument:  4
Second argument:  1
-----------
First argument:  5
Second argument:  1
-----------
First argument:  6
Second argument:  1
-----------

7

In [78]:
var = reduce(addition, list_, 10)
var

20

In [ ]:
# Initial: not specifying where it starts
# How: with what actual number/value (instead of the item)

In [97]:
list_ = [1, 1, 1, 1, 1, 1, 1]
#list_ = [2, 1, 1, 1, 1, 1]
#list_ = [3, 1, 1, 1, 1]
#list_ = [4, 1, 1, 1]
#list_ = [5, 1, 1]
#list_ = [6, 1]
#list_ = 7

# The result of an operation will be the input for the next one


def addition (a, b, c):
    print("First argument: ", a)
    print("Second argument: ", b)
    print("Third argument: ", b)
    
    print("-----------")

    #print(f"Iteration: {a + b}")
    return a + b + c

new_list_three_arguments = reduce(addition, list_)
new_list_three_arguments

# ⚠️: Apply a function of two arguments cumulatively to the items of a sequence -> only two
# *args

TypeError: addition() missing 1 required positional argument: 'c'

⚠️ Reduce is a bit more complicated to understand than map() and filter() so let's walk through the following example ⚠️

#### What happened?
- We start with a list [2, 4, 7, 3] and pass the function add (x, y) to reduce ( ) along with this list, without an initial value

- reduce() calls add(2, 4), and add() returns 6

- reduce() calls sum(6, 7) (result of the previous call to sum() and the next element in the list as parameters), and sum() returns 13

- reduce() calls sum(13, 3), and sum() returns 16

Since there are no more elements left in the sequence, reduce() returns 16

Factorial:
Amount that results from the multiplication of a certain natural number by all the natural numbers that precede it, excluding zero; is represented by n!

### First we do it with functions

### Bonus: Do it with lambda!

## Summary

In [ ]:
loops / comprehension lists

map (fn, iterable)
filter(fn ,iterable)
reduce(fn, iterable)


target -> minmum thing to change
    - loop or map

## Further materials
http://web.mit.edu/6.005/www/sp16/classes/25-map-filter-reduce/