<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Introduction" data-toc-modified-id="Introduction-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Introduction</a></span></li><li><span><a href="#Installation" data-toc-modified-id="Installation-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Installation</a></span></li><li><span><a href="#Introduction-to-pandas-data-structures" data-toc-modified-id="Introduction-to-pandas-data-structures-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Introduction to pandas data structures</a></span><ul class="toc-item"><li><span><a href="#Series" data-toc-modified-id="Series-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Series</a></span></li><li><span><a href="#Dataframes" data-toc-modified-id="Dataframes-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Dataframes</a></span><ul class="toc-item"><li><span><a href="#From-data-types" data-toc-modified-id="From-data-types-3.2.1"><span class="toc-item-num">3.2.1&nbsp;&nbsp;</span>From data types</a></span></li><li><span><a href="#From-path" data-toc-modified-id="From-path-3.2.2"><span class="toc-item-num">3.2.2&nbsp;&nbsp;</span>From path</a></span></li><li><span><a href="#From-databases" data-toc-modified-id="From-databases-3.2.3"><span class="toc-item-num">3.2.3&nbsp;&nbsp;</span>From databases</a></span></li></ul></li></ul></li><li><span><a href="#Exploratory-analysis-of-a-dataframe" data-toc-modified-id="Exploratory-analysis-of-a-dataframe-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Exploratory analysis of a dataframe</a></span><ul class="toc-item"><li><span><a href="#Meta-information" data-toc-modified-id="Meta-information-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Meta information</a></span></li><li><span><a href="#Previsualization" data-toc-modified-id="Previsualization-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Previsualization</a></span></li><li><span><a href="#NaN-values" data-toc-modified-id="NaN-values-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>NaN values</a></span></li><li><span><a href="#Basic-descriptive-statistics" data-toc-modified-id="Basic-descriptive-statistics-4.4"><span class="toc-item-num">4.4&nbsp;&nbsp;</span>Basic descriptive statistics</a></span></li></ul></li><li><span><a href="#Basic-operations-with-dataframes" data-toc-modified-id="Basic-operations-with-dataframes-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Basic operations with dataframes</a></span><ul class="toc-item"><li><span><a href="#Select:-column" data-toc-modified-id="Select:-column-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Select: column</a></span></li><li><span><a href="#Select:-subset" data-toc-modified-id="Select:-subset-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>Select: subset</a></span></li><li><span><a href="#Get-the-unique-values-​​of-a-column" data-toc-modified-id="Get-the-unique-values-​​of-a-column-5.3"><span class="toc-item-num">5.3&nbsp;&nbsp;</span>Get the unique values ​​of a column</a></span></li><li><span><a href="#Filter-based-on-condition" data-toc-modified-id="Filter-based-on-condition-5.4"><span class="toc-item-num">5.4&nbsp;&nbsp;</span>Filter based on condition</a></span></li><li><span><a href="#Change-the-data-type-of-a-column" data-toc-modified-id="Change-the-data-type-of-a-column-5.5"><span class="toc-item-num">5.5&nbsp;&nbsp;</span>Change the data type of a column</a></span></li><li><span><a href="#We-filter-the-data-by-the-value-of-the-columns" data-toc-modified-id="We-filter-the-data-by-the-value-of-the-columns-5.6"><span class="toc-item-num">5.6&nbsp;&nbsp;</span>We filter the data by the value of the columns</a></span></li><li><span><a href="#Copy-a-dataframe-and-rename-columns" data-toc-modified-id="Copy-a-dataframe-and-rename-columns-5.7"><span class="toc-item-num">5.7&nbsp;&nbsp;</span>Copy a dataframe and rename columns</a></span><ul class="toc-item"><li><span><a href="#Rename-columns" data-toc-modified-id="Rename-columns-5.7.1"><span class="toc-item-num">5.7.1&nbsp;&nbsp;</span>Rename columns</a></span></li></ul></li><li><span><a href="#delete-columns" data-toc-modified-id="delete-columns-5.8"><span class="toc-item-num">5.8&nbsp;&nbsp;</span>delete columns</a></span></li><li><span><a href="#delete-rows" data-toc-modified-id="delete-rows-5.9"><span class="toc-item-num">5.9&nbsp;&nbsp;</span>delete rows</a></span></li><li><span><a href="#setting-the-index" data-toc-modified-id="setting-the-index-5.10"><span class="toc-item-num">5.10&nbsp;&nbsp;</span>setting the index</a></span></li><li><span><a href="#Operations-between-columns" data-toc-modified-id="Operations-between-columns-5.11"><span class="toc-item-num">5.11&nbsp;&nbsp;</span>Operations between columns</a></span></li></ul></li><li><span><a href="#Apply-!" data-toc-modified-id="Apply-!-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Apply !</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Passing-a-map-or-an-apply" data-toc-modified-id="Passing-a-map-or-an-apply-6.0.1"><span class="toc-item-num">6.0.1&nbsp;&nbsp;</span>Passing a map or an apply</a></span></li><li><span><a href="#Receive:" data-toc-modified-id="Receive:-6.0.2"><span class="toc-item-num">6.0.2&nbsp;&nbsp;</span>Receive:</a></span></li></ul></li></ul></li><li><span><a href="#Df-.loc-&amp;-.iloc" data-toc-modified-id="Df-.loc-&amp;-.iloc-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Df .loc &amp; .iloc</a></span><ul class="toc-item"><li><span><a href="#Select-rows-and-columns-in-Pandas-by-position-with-iloc" data-toc-modified-id="Select-rows-and-columns-in-Pandas-by-position-with-iloc-7.1"><span class="toc-item-num">7.1&nbsp;&nbsp;</span>Select rows and columns in Pandas by position with iloc</a></span></li><li><span><a href="#Select-rows-and-columns-in-Pandas-based-on-labels-with-loc" data-toc-modified-id="Select-rows-and-columns-in-Pandas-based-on-labels-with-loc-7.2"><span class="toc-item-num">7.2&nbsp;&nbsp;</span>Select rows and columns in Pandas based on labels with loc</a></span><ul class="toc-item"><li><span><a href="#Based-on-label" data-toc-modified-id="Based-on-label-7.2.1"><span class="toc-item-num">7.2.1&nbsp;&nbsp;</span>Based on label</a></span></li></ul></li></ul></li><li><span><a href="#Order-a-dataframe" data-toc-modified-id="Order-a-dataframe-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Order a dataframe</a></span></li><li><span><a href="#Null-values" data-toc-modified-id="Null-values-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Null values</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#It-is-null?" data-toc-modified-id="It-is-null?-9.0.1"><span class="toc-item-num">9.0.1&nbsp;&nbsp;</span>It is null?</a></span></li><li><span><a href="#Is-NOT-null?" data-toc-modified-id="Is-NOT-null?-9.0.2"><span class="toc-item-num">9.0.2&nbsp;&nbsp;</span>Is NOT null?</a></span></li><li><span><a href="#Sum-the-null-values-​​of-each-column" data-toc-modified-id="Sum-the-null-values-​​of-each-column-9.0.3"><span class="toc-item-num">9.0.3&nbsp;&nbsp;</span>Sum the null values ​​of each column</a></span></li></ul></li><li><span><a href="#delete-null-values" data-toc-modified-id="delete-null-values-9.1"><span class="toc-item-num">9.1&nbsp;&nbsp;</span>delete null values</a></span></li><li><span><a href="#How-to-fill-in-the-missing-data" data-toc-modified-id="How-to-fill-in-the-missing-data-9.2"><span class="toc-item-num">9.2&nbsp;&nbsp;</span>How to fill in the missing data</a></span></li></ul></li><li><span><a href="#We-delete-the-duplicates" data-toc-modified-id="We-delete-the-duplicates-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>We delete the duplicates</a></span></li><li><span><a href="#Data-aggregation" data-toc-modified-id="Data-aggregation-11"><span class="toc-item-num">11&nbsp;&nbsp;</span>Data aggregation</a></span><ul class="toc-item"><li><span><a href="#groupby" data-toc-modified-id="groupby-11.1"><span class="toc-item-num">11.1&nbsp;&nbsp;</span>groupby</a></span><ul class="toc-item"><li><span><a href="#groupby-&amp;-aggregate" data-toc-modified-id="groupby-&amp;-aggregate-11.1.1"><span class="toc-item-num">11.1.1&nbsp;&nbsp;</span>groupby &amp; aggregate</a></span></li></ul></li><li><span><a href="#Pivot-Tables" data-toc-modified-id="Pivot-Tables-11.2"><span class="toc-item-num">11.2&nbsp;&nbsp;</span>Pivot Tables</a></span></li><li><span><a href="#Differences-between-pivot-table-and-groupby-function" data-toc-modified-id="Differences-between-pivot-table-and-groupby-function-11.3"><span class="toc-item-num">11.3&nbsp;&nbsp;</span>Differences between pivot table and groupby function</a></span></li><li><span><a href="#Crosstab-Function" data-toc-modified-id="Crosstab-Function-11.4"><span class="toc-item-num">11.4&nbsp;&nbsp;</span>Crosstab Function</a></span></li></ul></li><li><span><a href="#Data-combination:-mixing-dataframes" data-toc-modified-id="Data-combination:-mixing-dataframes-12"><span class="toc-item-num">12&nbsp;&nbsp;</span>Data combination: mixing dataframes</a></span><ul class="toc-item"><li><span><a href="#Concat" data-toc-modified-id="Concat-12.1"><span class="toc-item-num">12.1&nbsp;&nbsp;</span>Concat</a></span><ul class="toc-item"><li><span><a href="#Concatenating-on-axis-0-(rows)" data-toc-modified-id="Concatenating-on-axis-0-(rows)-12.1.1"><span class="toc-item-num">12.1.1&nbsp;&nbsp;</span>Concatenating on axis 0 (rows)</a></span></li><li><span><a href="#Concatenating-on-axis-1-(columns)" data-toc-modified-id="Concatenating-on-axis-1-(columns)-12.1.2"><span class="toc-item-num">12.1.2&nbsp;&nbsp;</span>Concatenating on axis 1 (columns)</a></span></li></ul></li><li><span><a href="#Merge" data-toc-modified-id="Merge-12.2"><span class="toc-item-num">12.2&nbsp;&nbsp;</span>Merge</a></span><ul class="toc-item"><li><span><a href="#LEFT-Merge" data-toc-modified-id="LEFT-Merge-12.2.1"><span class="toc-item-num">12.2.1&nbsp;&nbsp;</span>LEFT Merge</a></span></li><li><span><a href="#RIGHT-Merge" data-toc-modified-id="RIGHT-Merge-12.2.2"><span class="toc-item-num">12.2.2&nbsp;&nbsp;</span>RIGHT Merge</a></span></li><li><span><a href="#INNER-Merge" data-toc-modified-id="INNER-Merge-12.2.3"><span class="toc-item-num">12.2.3&nbsp;&nbsp;</span>INNER Merge</a></span></li><li><span><a href="#OUTER-Merge" data-toc-modified-id="OUTER-Merge-12.2.4"><span class="toc-item-num">12.2.4&nbsp;&nbsp;</span>OUTER Merge</a></span></li></ul></li><li><span><a href="#Merging-/-Concatenating-in-two-different-columns" data-toc-modified-id="Merging-/-Concatenating-in-two-different-columns-12.3"><span class="toc-item-num">12.3&nbsp;&nbsp;</span>Merging / Concatenating in two different columns</a></span><ul class="toc-item"><li><span><a href="#Concatenating-in-two-different-columns" data-toc-modified-id="Concatenating-in-two-different-columns-12.3.1"><span class="toc-item-num">12.3.1&nbsp;&nbsp;</span>Concatenating in two different columns</a></span></li><li><span><a href="#Merging-in-two-different-columns" data-toc-modified-id="Merging-in-two-different-columns-12.3.2"><span class="toc-item-num">12.3.2&nbsp;&nbsp;</span>Merging in two different columns</a></span></li></ul></li><li><span><a href="#Join" data-toc-modified-id="Join-12.4"><span class="toc-item-num">12.4&nbsp;&nbsp;</span>Join</a></span></li><li><span><a href="#Differences-between-join-&amp;-merge" data-toc-modified-id="Differences-between-join-&amp;-merge-12.5"><span class="toc-item-num">12.5&nbsp;&nbsp;</span>Differences between join &amp; merge</a></span></li></ul></li><li><span><a href="#Export-data" data-toc-modified-id="Export-data-13"><span class="toc-item-num">13&nbsp;&nbsp;</span>Export data</a></span></li><li><span><a href="#Pandas-usual-methods" data-toc-modified-id="Pandas-usual-methods-14"><span class="toc-item-num">14&nbsp;&nbsp;</span>Pandas usual methods</a></span></li><li><span><a href="#Further-materials" data-toc-modified-id="Further-materials-15"><span class="toc-item-num">15&nbsp;&nbsp;</span>Further materials</a></span></li></ul></div>

# Pandas

![pandas](https://media.giphy.com/media/nVsLCrW5iHf6E/giphy.gif)

## Introduction
Pandas is undoubtedly the most widely used library in the Python ecosystem for data manipulation and analysis. It's fast, powerful, flexible, easy to use and open source.


Among its main features:

- A fast and efficient **DataFrame** object for data manipulation with built-in indexing* 

- **Reading and writing** of data in many formats: Microsoft Excel, CSV, SQL databases, etc;

- Integrated and efficient methods for all types of data manipulation: missing data, subset, union, merge, etc;

- Ease of working with temporary data (in fact, Pandas is named after "PANnel DAta")

- Good **integration with other data analysis or Machine learning libraries**: scikit-learn, scipy, seaborn, plotly, etc;

- It is **widely used** in both the private and academic sectors


Pandas provides high-level data structures and functions designed to make working with structured or tabular data fast, easy, and expressive. Since its introduction in 2010, it has helped make Python a powerful and productive data analysis environment. The main pandas objects that will be used in this book are the DataFrame, a column-oriented tabular data structure with row and column labels, and the Series, a labeled one-dimensional array object.

Pandas combines the high performance ideas of NumPy with the flexible data manipulation capabilities of spreadsheets and relational databases (such as SQL). It provides sophisticated indexing functionality to make it easy to reshape, slice and dice, perform aggregations, and select subsets of data.

![image](https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fblogs-images.forbes.com%2Fgilpress%2Ffiles%2F2016%2F03%2FTime-1200x511.jpg)



Source: [Forbes](https://www.forbes.com/sites/gilpress/2016/03/23/data-preparation-most-time-consuming-least-enjoyable-data-science-task-survey-says/#1ba071616f63)

## Installation

The first thing you should do will always be
`pip install pandas`, `conda install pandas`

In [ ]:
# anaconda
    # enviroments: ironhack
    #pandas
    
# miniconda
    # conda activate ironhack
    #pip install pandas

In [66]:
import pandas as pd
import numpy as np

## Introduction to pandas data structures
To get started with pandas, you'll need to get comfortable with its two working data structures: Series and DataFrame. Although they are not a universal solution to all problems, they provide a solid and easy-to-use foundation for most applications.

### Series
A Serie is a one-dimensional array object containing a sequence of values ​​(of NumPy-like types) and an associated array of data labels, called its index. The simplest Series is formed from a single array of data:

In [67]:
my_series = pd.Series([1, 2, 3, "a_string", 12, 5])

In [68]:
my_series

0           1
1           2
2           3
3    a_string
4          12
5           5
dtype: object

In [70]:
random_list = [1, 2, 3, "a_string", 12, 5]

In [71]:
random_list[3]

'a_string'

In [73]:
type(random_list)

list

In [74]:
type(my_series)

pandas.core.series.Series

In [82]:
my_series.values

array([1, 2, 3, 'a_string', 12, 5], dtype=object)

In [78]:
list(my_series.values)

[1, 2, 3, 'a_string', 12, 5]

In [77]:
my_series.index

RangeIndex(start=0, stop=6, step=1)

The string representation of a Series displayed interactively shows the index on the left and the values ​​on the right. Since we didn't specify an index for the data, a default one consisting of the integers 0 to N - 1 (where N is the length of the data) is created. You can get the array representation and the index object of the Series through its values ​​and index attributes, respectively:

Another way to think of a Series is as a fixed-length ordered dict, since it is a mapping of index values ​​to data values. It can be used in many contexts where a dictionary could be used.
If you have data contained in a Python dict, you can create a Series from it by passing the dict:

In [109]:
somedata = {
    "Ohio": 2000,
    "Texas":"2001",
    "Oregon":  79865,
    "Utah":4892383,
    "something else": "4984"
}

In [110]:
somedata

{'Ohio': 2000,
 'Texas': '2001',
 'Oregon': 79865,
 'Utah': 4892383,
 'something else': '4984'}

In [111]:
somedata.values()

dict_values([2000, '2001', 79865, 4892383, '4984'])

In [112]:
somedata.keys()

dict_keys(['Ohio', 'Texas', 'Oregon', 'Utah', 'something else'])

In [113]:
# Q: Capitalization of Series and DataFrame?
# A: needed
#pd.Series
#pd.DataFrame

In [114]:
somedata_series = pd.Series(somedata)
somedata_series

Ohio                 2000
Texas                2001
Oregon              79865
Utah              4892383
something else       4984
dtype: object

In [115]:
somedata_series.index

Index(['Ohio', 'Texas', 'Oregon', 'Utah', 'something else'], dtype='object')

In [116]:
somedata_series.values

array([2000, '2001', 79865, 4892383, '4984'], dtype=object)

In [117]:
states = ["California", "Ohio", "Oregon", "Texas", "something else"]

In [118]:
somedata

{'Ohio': 2000,
 'Texas': '2001',
 'Oregon': 79865,
 'Utah': 4892383,
 'something else': '4984'}

In [119]:
somedata_series = pd.Series(somedata)
somedata_series

Ohio                 2000
Texas                2001
Oregon              79865
Utah              4892383
something else       4984
dtype: object

In [120]:
somedata_series = pd.Series(somedata, index = states)
somedata_series

California          NaN
Ohio               2000
Oregon            79865
Texas              2001
something else     4984
dtype: object

In [121]:
for i in somedata_series.values:
    print(type(i))

<class 'float'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'str'>

In [106]:
# NaN: missing value
# Not a number
# missing values -> are type float

In [ ]:
# type float cannot do whatever you're trying to applay

When only one dict is passed, the resulting String index will have the keys of the dict in order. You can override this by passing the keys of the dict in the order you want them to appear in the resulting String:

Here, the three values ​​found in sdata were placed in the appropriate places, but since no value was found for 'California', it appears as NaN (not a number), which is considered in pandas to mark missing values ​​or NA. Since "Utah" was not included in the states, it is excluded from the resulting object.

In [ ]:
pd.Series:
    - index
    - values
    
    - array: 1d

In [123]:
somedata_series.index

Index(['California', 'Ohio', 'Oregon', 'Texas', 'something else'], dtype='object')

In [124]:
somedata_series.values

array([nan, 2000, 79865, '2001', '4984'], dtype=object)

### Dataframes
Pandas can read and write data from a wide variety of formats. [Read the documentation](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html)
Although one of the most common is from a dict of lists of equal length or NumPy arrays:

#### From data types

`from dictionaries with lists as values`

In [151]:
dictionary_with_lists = {
    "state": ["Ohio", "Texas", "Nevada", "Michigan"],
    "year": [19900, 28374, 3044, 50554],
    "something": [1.6, "THIS IS TEXAS", 3434, np.nan]
}

In [152]:
df = pd.DataFrame(dictionary_with_lists)
df

      state   year      something
0      Ohio  19900            1.6
1     Texas  28374  THIS IS TEXAS
2    Nevada   3044           3434
3  Michigan  50554            NaN

Since we are using Jupyter Notebook, pandas DataFrame objects will be displayed as a more browser-friendly HTML table. [More info on this](https://pandas.pydata.org/pandas-docs/stable/user_guide/options.html)

`from list of dictionaries`

If I create a dataframe through a list of dictionaries:
- Each dictionary will be a row
- The keys will be the names of the columns
- They have to have the same structure

In [159]:
list_of_dictionaries = [
        {"state":"Ohio", "year": 1900, "something": 1.6},
        {"state":"texas", "year": 3434, "something": 2},
        {"state":"nevada", "year": 3434, "something": "hello"},
        {"state":"michigan", "year": 1212, "something": 1.6}
        #{"esteit":"michigan", "year": 1212, "something": 1.6}

]

In [160]:
df = pd.DataFrame(list_of_dictionaries)
df

      state  year something
0      Ohio  1900       1.6
1     texas  3434         2
2    nevada  3434     hello
3  michigan  1212       1.6

[pandas from dict](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.from_dict.html)

#### From path

`.csv`

In [168]:
df = pd.read_csv("../datasets/Advertising.csv")
df

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3    9.3
3    151.5   41.3       58.5   18.5
4    180.8   10.8       58.4   12.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1    9.7
197  177.0    9.3        6.4   12.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   13.4

[200 rows x 4 columns]

In [164]:
#csv: comma separated values

In [ ]:
#csv, separator = ";"

`.xlsx`

In [174]:
df_from_excel = pd.read_excel("../datasets/Online Retail.xlsx", engine="openpyxl")
df_from_excel.head() # Supports `xls`, `xlsx`, `xlsm`, `xlsb`, `odf`, `ods` and `odt` file extensions

,InvoiceNo,InvoiceNo.1,InvoiceNo.2,InvoiceNo.3,InvoiceNo.4,InvoiceNo.5,InvoiceNo.6,InvoiceNo.7,InvoiceNo.8
0,536365,2010-12-01 08:26:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom
1,536373,2010-12-01 09:02:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom
2,536375,2010-12-01 09:32:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom
3,536390,2010-12-01 10:19:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,64,2.55,163.2,17511,United Kingdom
4,536394,2010-12-01 10:39:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,32,2.55,81.6,13408,United Kingdom

`Reading different sheeets`

In [ ]:
# Default tab (first one)

df_from_excel_new_tab = pd.read_excel("../datasets/Online Retail.xlsx", engine="openpyxl")
df_from_excel_new_tab.head()

In [ ]:
# Other tab: new_tab
df_from_excel_new_tab = pd.read_excel("../datasets/Online Retail.xlsx", engine="openpyxl", "new_tab")
df_from_excel_new_tab.head()

`web`

In [177]:
df = pd.read_csv("https://raw.githubusercontent.com/datapackage-examples/sample-csv/master/sample.csv")
df

,header 0,header 1,header 2,header 3,header 4,header 5,header 6,header 7,header 8,header 9
0,row 1 col 0,row 1 col 1,row 1 col 2,row 1 col 3,row 1 col 4,row 1 col 5,row 1 col 6,row 1 col 7,row 1 col 8,row 1 col 9
1,row 2 col 0,row 2 col 1,row 2 col 2,row 2 col 3,row 2 col 4,row 2 col 5,row 2 col 6,row 2 col 7,row 2 col 8,row 2 col 9
2,row 3 col 0,row 3 col 1,row 3 col 2,row 3 col 3,row 3 col 4,row 3 col 5,row 3 col 6,row 3 col 7,row 3 col 8,row 3 col 9
3,row 4 col 0,row 4 col 1,row 4 col 2,row 4 col 3,row 4 col 4,row 4 col 5,row 4 col 6,row 4 col 7,row 4 col 8,row 4 col 9
4,row 5 col 0,row 5 col 1,row 5 col 2,row 5 col 3,row 5 col 4,row 5 col 5,row 5 col 6,row 5 col 7,row 5 col 8,row 5 col 9
5,row 6 col 0,row 6 col 1,row 6 col 2,row 6 col 3,row 6 col 4,row 6 col 5,row 6 col 6,row 6 col 7,row 6 col 8,row 6 col 9
6,row 7 col 0,row 7 col 1,row 7 col 2,row 7 col 3,row 7 col 4,row 7 col 5,row 7 col 6,row 7 col 7,row 7 col 8,row 7 col 9
7,row 8 col 0,row 8 col 1,row 8 col 2,row 8 col 3,row 8 col 4,row 8 col 5,row 8 col 6,row 8 col 7,row 8 col 8,row 8 col 9
8,row 9 col 0,row 9 col 1,row 9 col 2,row 9 col 3,row 9 col 4,row 9 col 5,row 9 col 6,row 9 col 7,row 9 col 8,row 9 col 9
9,row 10 col 0,row 10 col 1,row 10 col 2,row 10 col 3,row 10 col 4,row 10 col 5,row 10 col 6,row 10 col 7,row 10 col 8,row 10 col 9

#### From databases

`sql`: [docs](https://pandas.pydata.org/docs/reference/api/pandas.read_sql.html)

```python
from sqlite3 import connect

conn = connect(':memory:')
df = pd.read_sql('SELECT column_1, column_2 FROM sample_data', conn)

df.to_sql('test_data', conn)
```

`mongodb`

```python
import pymongo
from pymongo import MongoClient

client = MongoClient()
db = client.database_name
collection = db.collection_name
data = pd.DataFrame(list(collection.find()))
```

## Exploratory analysis of a dataframe

### Meta information

`shape, columns, dtypes, info, describe`

### Previsualization

`head`

By default head shows me the first 5 rows, I can see some more or less by passing a number as a parameter

`tail`

`sample`

`display`

### NaN values
NaN stands for Not A Number and is one of the common ways to represent the missing value in the data. It is a special floating point value and cannot be converted to a type other than float.
The NaN value is one of the main problems in data analysis. It is very essential to deal with NaN to get the desired results.

###  Basic descriptive statistics

## Basic operations with dataframes

### Select: column

### Select: subset

### Get the unique values ​​of a column

`df.column.unique()`

`df.column.value_counts()`

### Filter based on condition

### Change the data type of a column

### We filter the data by the value of the columns

### Copy a dataframe and rename columns

#### Rename columns

`.rename(dict_)`

The rename method allows me to rename only the columns that I want, the ones that are in the dictionary. No need to rename all at once

`overwriting attributes`: Requires a list with the same number of columns

### delete columns

### delete rows

Rows can also be deleted. Note that the indexes are not reset. The index is associated with the row, not the order.
Can the index be restarted? Correct

### setting the index

We read the [documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.reset_index.html) to understand some parameters

`set_index`

`reset_index`

What can we use to have the date as an index?
We will see it later, to analyze temporary series

### Operations between columns

## Apply !

`apply to a pd.Series`

Applies a function along an axis of the DataFrame.
[Read the docs](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.apply.html)

When I do an apply on a column, even though I use a lambda, I don't put axis because in the case below, what I'm doing is modifying a column, I use lambda to tell the apply that the first argument is a string that comes from outside and the second argument is the dataframe's own record.

The same way map receives a function and something it iteraves over
A DF is composed of numpy.arrays. So it's an iterable


#### Passing a map or an apply
- map -> function, iterable
- apply -> function, iterable


#### Receive:

- apply & user-defined function -> apply(function) "x", a value
- apply & lambda -> lambda row: row["column"]

`apply to a df`

## Df .loc & .iloc

### Select rows and columns in Pandas by position with iloc

loc syntax with multiple conditions
```python
df.loc[(df["column"] condition) & (df["column"] condition)]
````

The iloc method is used on DataFrames to select elements based on their location. Its syntax is data.iloc[<filas>, <columnas>], where <filas> and <columnas> are the position of the rows and columns that you want to select in the order that they appear in the object. A familiar notation for Matlab users. In a DataFrame, each of the rows has a number that goes from 0 to the total number of rows minus one. Being iloc the method that allows selecting the data based on these numbers. The same applies to columns.

In iloc there are two arguments rows and columns. In case the second is omitted, all columns in the row will be selected. So to select different rows can be used.

### Select rows and columns in Pandas based on labels with loc
The loc method can be used in two different ways: select rows or columns based on a label, or select rows or columns based on a condition.

#### Based on label

## Order a dataframe

Same operation, but give me only concrete columns

## Null values

#### It is null?

`pd.isna()` == `pd.isnull()`

#### Is NOT null?

#### Sum the null values ​​of each column

### delete null values
There are several ways to do this, we take into account the "how" parameter and of course [the docs](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html).

REMEMBER THAT INPLACE TRUE IS FOR THE METHOD TO ACTION ON THE DF, IF NOT, I HAVE TO SAVE IT IN A NEW VARIABLE

With "any" (parameter that comes by default so be careful not to put anything) all the records in which there is a NaN in any column are deleted

In [ ]:
# Nans: how many

    # how: any, all
    # thresh: exclusive with how
    
#https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html?highlight=dropna#pandas.DataFrame.dropna

`Dropping missing values where all are missing values`

`Dropping missing values where there's ANY`

### How to fill in the missing data

How about a little [documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.fillna.html)?

###### CATEGORIES IN DATAFRAME: DOCUMENTATION
https://runebook.dev/en/docs/pandas/user_guide/categorical

## We delete the duplicates

[Read the docs](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.duplicated.html)

## Data aggregation

`groupby, pivot table & cross_tab`

### groupby
Pandas GroupBy is a powerful and versatile function in Python. It allows us to split your data into separate groups to perform calculations for better analysis.
A DataFrame can be grouped on its rows (axis=0) or on its columns (axis=1). Once this is done, a function is applied to each group, producing a new value. Finally, the results of all those function applications are combined into a result object. The shape of the resulting object will usually depend on what is done with the data.

`CUANTITATIVE.groupby(CATEGORICAL).calculation()`

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html

```groupby(df, by, ...)```.
* ```by```   columns on which grouping is to be done
* ```agg```  the aggregate function can be used separately

`groupby the departments and their mean age`

`groupby the departments and their maximum age`

`groupby the departments and their min age`

`groupby: 2+`: Different Education Fields and their Mean Salaries in each of the Department

`more fields`

#### groupby & aggregate

Another way to groupby with agg syntax
https://pandas.pydata.org/docs/reference/api/pandas.core.groupby.DataFrameGroupBy.aggregate.html

- mean
- sum
-count

Suppose we want to calculate the mean of column data1 using the labels of key1. There are several ways to do it. One is to access data1 and call groupby with the column (a String) in key1.
The data (a Series) has been aggregated based on the group key, producing a new String that is now indexed by the unique values ​​of the key1 column. The resulting index has the name 'key1' because the DataFrame column `df['key1']` did.

### Pivot Tables

[groupby vs pivot table](https://towardsdatascience.com/a-comparison-of-groupby-and-pivot-in-pythons-pandas-module-527909e78d6b?source=userActivityShare-4c6d9a33c6-1674605913&_branch_match_id=1146490620103499300&_branch_referrer=H4sIAAAAAAAAA8soKSkottLXz8nMy9bLTU3JLM3VS87P1TfKCvCtKvOvCCpPAgAN4ht%2FIwAAAA%3D%3D)

```pivot_table(df, values=None, index=None, columns=None, aggfunc='mean', ...)```

* We can create a spreadsheet-style pivot table as a DataFrame. The levels in the pivot table will be stored in MultiIndex objects (hierarchical indexes) on the index and columns of the result DataFrame.

`pivot table`: the department and their mean ages

`pivot table`: the department and their max ages

`pivot table`: the department and their min ages

`pivot table`: the department and their min ages

`multi-index pivot table`: Department and Education Field and check the maximum salary values of employees

### Differences between pivot table and groupby function

`groupby`: team mean age by team abbreviation & season.

`pivot_table`: team mean age by team abbreviation & season.

### Crosstab Function

* Compute a simple cross tabulation of two (or more) factors. By default computes a frequency table of the factors unless an array of values and an aggregation function are passed

```crosstab(df, values=None, index=None, columns=None, aggfunc='mean', ...)```

------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

## Data combination: mixing dataframes

- https://realpython.com/pandas-merge-join-and-concat/
- https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html

### Concat
We join dataframes along axis 0 one below the other. Align columns by label.

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user',
                             sep='|', 
                             index_col='user_id')
df.sample()

#### Concatenating on axis 0 (rows)

#### Concatenating on axis 1 (columns)

![sql joins](https://upload.wikimedia.org/wikipedia/commons/9/9d/SQL_Joins.svg)

### Merge

[Merge()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.merge.html) is most useful when you want to merge rows that share data.

In [ ]:
import numpy as np
import pandas as pd   
from IPython.display import display_html

In [ ]:
df1 = pd.DataFrame(
    {
        "key1": ["K0", "K0", "K1", "K2"],
        "key2": ["K0", "K1", "K0", "K1"],
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
    }
)


df2 = pd.DataFrame(
    {
        "key1": ["K0", "K1", "K1", "K2"],
        "key2": ["K0", "K0", "K0", "K0"],
        "C": ["C0", "C1", "C2", "C3"],
        "D": ["D0", "D1", "D2", "D3"],
    }
)

df3 = pd.DataFrame(
    {
        "key1": ["K90", "K1", "K1", "K2"],
        "key2": ["K0", "K0", "K5", "K0"],
        "C": ["C0", "C1", "C2", "C3"],
        "Y": ["D0", "D70", "D2", "D5"],
    }
)

In [ ]:
df1_styler = df1.style.set_table_attributes("style='display:inline'").set_caption('Left table')
df2_styler = df2.style.set_table_attributes("style='display:inline'").set_caption('Right table')
display_html(df1_styler._repr_html_()+ df2_styler._repr_html_(), raw=True)

In [ ]:
# merge, default is inner

result = pd.merge(df1, df2)
result

In [ ]:
result_on = pd.merge(df1, df2, on=["key1", "key2"])
result_on

#### LEFT Merge

In [ ]:
left_merge = pd.merge(df1, df2, how="left")


df1_styler = df1.style.set_table_attributes("style='display:inline'").set_caption('Left table')
df2_styler = df2.style.set_table_attributes("style='display:inline'").set_caption('Right table')
left_merge = left_merge.style.set_table_attributes("style='display:inline'").set_caption("left_merge")

display_html(df1_styler._repr_html_()+ df2_styler._repr_html_() + left_merge._repr_html_(), raw=True)

#### RIGHT Merge

In [ ]:
right_merge = pd.merge(df1, df2, how="right")


df1_styler = df1.style.set_table_attributes("style='display:inline'").set_caption('Left table')
df2_styler = df2.style.set_table_attributes("style='display:inline'").set_caption('Right table')
right_merge = right_merge.style.set_table_attributes("style='display:inline'").set_caption("right_merge")

display_html(df1_styler._repr_html_()+ df2_styler._repr_html_() + right_merge._repr_html_(), raw=True)

#### INNER Merge

In [ ]:
inner_merge = pd.merge(df1, df2, how="inner")


df1_styler = df1.style.set_table_attributes("style='display:inline'").set_caption('Left table')
df2_styler = df2.style.set_table_attributes("style='display:inline'").set_caption('Right table')
inner_merge = inner_merge.style.set_table_attributes("style='display:inline'").set_caption("inner_merge")

display_html(df1_styler._repr_html_()+ df2_styler._repr_html_() + inner_merge._repr_html_(), raw=True)

#### OUTER Merge

In [ ]:
outer_merge = pd.merge(df1, df2, how="outer")

df1_styler = df1.style.set_table_attributes("style='display:inline'").set_caption('Left table')
df2_styler = df2.style.set_table_attributes("style='display:inline'").set_caption('Right table')
outer_merge = outer_merge.style.set_table_attributes("style='display:inline'").set_caption("outer_merge")

display_html(df1_styler._repr_html_()+ df2_styler._repr_html_() + outer_merge._repr_html_(), raw=True)

In [ ]:
#Q:  Merging on an already merged table: merging more than 1 df

result_on_itself = pd.merge(result_on, df3, how="left") #, suffixes=["a", "_right"]
result_on_itself

### Merging / Concatenating in two different columns

In [ ]:
df1_docs = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'],
                    'value': [1, 2, 3, 5]})
df2_docs = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo'],
                    'value': [5, 6, 7, 8]})

In [ ]:
df1_styler = df1_docs.style.set_table_attributes("style='display:inline'").set_caption('Left table')
df2_styler = df2_docs.style.set_table_attributes("style='display:inline'").set_caption('Right table')

display_html(df1_styler._repr_html_()+ df2_styler._repr_html_(), raw=True)

#### Concatenating in two different columns

In [ ]:
concat_docs = pd.concat([df1_docs, df2_docs], axis=1, keys=["1st table", "2nd table"])

df1_styler = df1_docs.style.set_table_attributes("style='display:inline'").set_caption('Left table')
df2_styler = df2_docs.style.set_table_attributes("style='display:inline'").set_caption('Right table')
merge_styler = concat_docs.style.set_table_attributes("style='display:inline'").set_caption('concat_docs')

display_html(df1_styler._repr_html_()+ df2_styler._repr_html_() + merge_styler._repr_html_(), raw=True)

#### Merging in two different columns

In [ ]:
df1_styler = df1_docs.style.set_table_attributes("style='display:inline'").set_caption('Left table')
df2_styler = df2_docs.style.set_table_attributes("style='display:inline'").set_caption('Right table')

display_html(df1_styler._repr_html_()+ df2_styler._repr_html_(), raw=True)

In [ ]:
merge_docs = df1_docs.merge(df2_docs, left_on='lkey', right_on='rkey', suffixes = ["_fromleft", "_fromright"])

In [ ]:
merge_docs = df1_docs.merge(df2_docs, left_on='lkey', right_on='rkey', suffixes = ["_from_left", "_from_right"])


df1_styler = df1_docs.style.set_table_attributes("style='display:inline'").set_caption('Left table')
df2_styler = df2_docs.style.set_table_attributes("style='display:inline'").set_caption('Right table')
merge_styler = merge_docs.style.set_table_attributes("style='display:inline'").set_caption('merge_docs')

display_html(df1_styler._repr_html_()+ df2_styler._repr_html_() + merge_styler._repr_html_(), raw=True)

In [ ]:
# suffixes: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.merge.html

In [ ]:
# concat: putting things together
# join/merge: putting things together THAT ARE RELATED
    # related info in the same place -> reduces redundancy

### Join
The join, unlike the merge, will join the dataframes and where there are no records in the "index" it will put NaN

In [ ]:
import numpy as np
import pandas as pd   
from IPython.display import display_html

In [ ]:
left_df = pd.DataFrame(
    {"A": ["A0", "A1", "A2"], "B": ["B0", "B1", "B2"]}, index=["K0", "K1", "K2"]
)


right_df = pd.DataFrame(
    {"C": ["C0", "C2", "C3"], "D": ["D0", "D2", "D3"]}, index=["K0", "K2", "K3"]
)

In [ ]:
df1_styler = left_df.style.set_table_attributes("style='display:inline'").set_caption('Left table')
df2_styler = right_df.style.set_table_attributes("style='display:inline'").set_caption('Right table')

display_html(df1_styler._repr_html_()+ df2_styler._repr_html_(), raw=True)

In [ ]:
result = left_df.join(right_df, how="inner")

#Rendering the df's in the same line. No need to learn this code

df1_styler = left_df.style.set_table_attributes("style='display:inline'").set_caption('Left table')
df2_styler = right_df.style.set_table_attributes("style='display:inline'").set_caption('Right table')
df1_df2_merged = result.style.set_table_attributes("style='display:inline'").set_caption('JOIN')

display_html(df1_styler._repr_html_()+ df2_styler._repr_html_() + df1_df2_merged._repr_html_(), raw=True)
#display_html(df1_styler._repr_html_()+ df2_styler._repr_html_(), raw=True)

### Differences between join & merge

<figure class="wp-block-table is-style-stripes"><table class="has-fixed-layout"><thead><tr><th><strong>Join Feature</strong></th><th class="has-text-align-center" data-align="center"><strong>join()</strong></th><th class="has-text-align-center" data-align="center"><strong>merge()</strong></th></tr></thead><tbody><tr><td>inner</td><td class="has-text-align-center" data-align="center">Yes</td><td class="has-text-align-center" data-align="center">Yes</td></tr><tr><td>left</td><td class="has-text-align-center" data-align="center">Yes</td><td class="has-text-align-center" data-align="center">Yes</td></tr><tr><td>right</td><td class="has-text-align-center" data-align="center">Yes</td><td class="has-text-align-center" data-align="center">Yes</td></tr><tr><td>outer</td><td class="has-text-align-center" data-align="center">Yes</td><td class="has-text-align-center" data-align="center">Yes</td></tr><tr><td>cross</td><td class="has-text-align-center" data-align="center">X</td><td class="has-text-align-center" data-align="center">Yes</td></tr><tr><td>Join on Indices</td><td class="has-text-align-center" data-align="center">Yes</td><td class="has-text-align-center" data-align="center">Yes</td></tr><tr><td>Join on Columns</td><td class="has-text-align-center" data-align="center">X</td><td class="has-text-align-center" data-align="center">Yes</td></tr><tr><td>Left on column, right on index</td><td class="has-text-align-center" data-align="center">Yes</td><td class="has-text-align-center" data-align="center">Yes</td></tr><tr><td>Left on index, right on column</td><td class="has-text-align-center" data-align="center">X</td><td class="has-text-align-center" data-align="center">Yes</td></tr></tbody></table>

## Export data

`to_csv`

`to_json`

## Pandas usual methods
```python
df.head() # prints the head, default 5 rows
df.tail() # set the tail, default 5 rows
df.describe() # statistical description
df.info() # df information
df.columns # show column
df.index # show index
df.dtypes # show column data types
df.plot() # make a plot
df.hist() # make a histogram
df.col.value_counts() # counts the unique values ​​of a column
df.col.unique() # returns unique values ​​from a column
df.copy() # copies the df
df.drop() # remove columns or rows (axis=0,1)
df.dropna() # remove nulls
df.fillna() # fills nulls
df.shape # dimensions of the df
df._get_numeric_data() # select numeric columns
df.rename() # rename columns
df.str.replace() # replace columns of strings
df.astype(dtype='float32') # change the data type
df.iloc[] # locate by index
df.loc[] # locate by element
df.transpose() # transposes the df
df.T
df.sample(n, frac) # sample from df
df.col.sum() # sum of a column
df.col.max() # maximum of a column
df.col.min() # minimum of one column
df[col] # select column
df.col
df.isnull() # null values
df.isna()
df.notna() # not null values
df.drop_duplicates() # remove duplicates
df.reset_index(inplace=True) # reset the index and overwrite
```

## Further materials

* [Read the docs!](https://pandas.pydata.org/pandas-docs/stable/index.html)
* [Cheatsheet](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf)
* [Exercises to practice](https://github.com/guipsamora/pandas_exercises)
* [More on merge, concat, and join](https://realpython.com/pandas-merge-join-and-concat/#pandas-join-combining-data-on-a-column-or-index). And [even more!](https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html)