<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Loading-the-data-into-a-SQL-database-🙂" data-toc-modified-id="Loading-the-data-into-a-SQL-database-🙂-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Loading the data into a SQL database 🙂</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#We-connect-with-SQL" data-toc-modified-id="We-connect-with-SQL-1.0.1"><span class="toc-item-num">1.0.1&nbsp;&nbsp;</span>We connect with SQL</a></span></li></ul></li><li><span><a href="#Defensive-programming,-checking-functions:-what-if-I-re-reun-the-code?" data-toc-modified-id="Defensive-programming,-checking-functions:-what-if-I-re-reun-the-code?-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Defensive programming, checking functions: what if I re-reun the code?</a></span></li></ul></li></ul></div>

In [6]:
import pandas as pd
import sqlalchemy as alch
from getpass import getpass
import re

## Loading the data into a SQL database 🙂

In [7]:
df = pd.read_csv("cleaned-lyrics-andres.csv")

#### We connect with SQL

In [8]:
from getpass import getpass

In [9]:
password=getpass()
dbName="spotify"
connectionData = f"mysql+pymysql://root:{password}@localhost/{dbName}"

engine = alch.create_engine(connectionData)

········

In [11]:
df.to_sql("songs", if_exists="append", con=engine, index=False)

### Defensive programming, checking functions: what if I re-reun the code?

In [18]:
df.columns

Index(['name', 'artist', 'album_name', 'popularity', 'user', 'lyrics'], dtype='object')

In [ ]:
# Python way: length of query

In [23]:
name = df["name"][0]
name

'Canto a Caracas'

In [24]:
artist = df["artist"][0]
artist

"Billo's"

In [31]:
query = f'SELECT name, artist FROM songs WHERE name = "{name}" AND artist = "{artist}"'

In [32]:
query

'SELECT name, artist FROM songs WHERE name = "Canto a Caracas" AND artist = "Billo\'s"'

In [34]:
list(engine.execute(query))

[('Canto a Caracas', "Billo's")]

In [38]:
#insert_query = f'INSERT INTO songs VALUES ("{row.name}", "{row.artist}", "{row.album_name}", "{row.popularity}", "{row.user}", "{row.lyrics}")'

In [41]:
def insert_into_sql_python (df):
    for index, row in df.iterrows():
        if len(list(engine.execute(query))) > 0:
            pass
        else:
            engine.execute(insert_query)

In [2]:
# SQL way: WHERE NOT IN (subquery)

In [3]:
def insert_into_sql_python (df):
    
    row = {
        "name": "name",
        "artist": "artist",
        "name": "name"
    }
    
    query_duplicates_subquery = f"""
        INSERT INTO songs ("{row.name}", "{row.artist}")
            WHERE "{row.name}", "{row.artist}" NOT IN 
                (SELECT name, artist FROM songs)
        """

    for index, row in df.iterrows():
        engine.execute(query_duplicates_subquery)

- We start with a datafrme
- We check for values of the dataframe to exist
- If they don't exist: insert
- If they do: don't do anything
    
- Once with one value
- Iterate over the dataframe: for each value of the column, we can insert into the table that we need