# Intro Python

![elgif](https://media.giphy.com/media/coxQHKASG60HrHtvkt/giphy.gif)

[PEP-8](https://peps.python.org/pep-0008/)

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

![otrogif](https://media.giphy.com/media/MT5UUV1d4CXE2A37Dg/giphy.gif)

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Cell-types-in-Jupyter-Notebook" data-toc-modified-id="Cell-types-in-Jupyter-Notebook-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Cell types in Jupyter Notebook</a></span><ul class="toc-item"><li><span><a href="#Markdown" data-toc-modified-id="Markdown-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Markdown</a></span></li></ul></li><li><span><a href="#Titles" data-toc-modified-id="Titles-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Titles</a></span><ul class="toc-item"><li><span><a href="#Code" data-toc-modified-id="Code-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Code</a></span></li><li><span><a href="#Shortcuts" data-toc-modified-id="Shortcuts-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Shortcuts</a></span></li></ul></li><li><span><a href="#Integer-numbers" data-toc-modified-id="Integer-numbers-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Integer numbers</a></span></li><li><span><a href="#Real-numbers-(floats)" data-toc-modified-id="Real-numbers-(floats)-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Real numbers (floats)</a></span></li><li><span><a href="#Basic-operations" data-toc-modified-id="Basic-operations-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Basic operations</a></span><ul class="toc-item"><li><span><a href="#built-in-and-imported-things" data-toc-modified-id="built-in-and-imported-things-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>built-in and imported things</a></span></li></ul></li><li><span><a href="#Strings-(character-strings)" data-toc-modified-id="Strings-(character-strings)-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Strings (character strings)</a></span></li><li><span><a href="#Casting-in-Python" data-toc-modified-id="Casting-in-Python-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Casting in Python</a></span><ul class="toc-item"><li><span><a href="#Implicit-conversion" data-toc-modified-id="Implicit-conversion-7.1"><span class="toc-item-num">7.1&nbsp;&nbsp;</span>Implicit conversion</a></span></li><li><span><a href="#explicit-conversion" data-toc-modified-id="explicit-conversion-7.2"><span class="toc-item-num">7.2&nbsp;&nbsp;</span>explicit conversion</a></span><ul class="toc-item"><li><span><a href="#Convert-float-to-int" data-toc-modified-id="Convert-float-to-int-7.2.1"><span class="toc-item-num">7.2.1&nbsp;&nbsp;</span>Convert float to int</a></span></li><li><span><a href="#Convert-a-float-to-a-string" data-toc-modified-id="Convert-a-float-to-a-string-7.2.2"><span class="toc-item-num">7.2.2&nbsp;&nbsp;</span>Convert a float to a string</a></span></li><li><span><a href="#Convert-int-to-str" data-toc-modified-id="Convert-int-to-str-7.2.3"><span class="toc-item-num">7.2.3&nbsp;&nbsp;</span>Convert int to str</a></span></li></ul></li></ul></li><li><span><a href="#Input-and-output-data" data-toc-modified-id="Input-and-output-data-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Input and output data</a></span><ul class="toc-item"><li><span><a href="#Input" data-toc-modified-id="Input-8.1"><span class="toc-item-num">8.1&nbsp;&nbsp;</span>Input</a></span></li><li><span><a href="#Print" data-toc-modified-id="Print-8.2"><span class="toc-item-num">8.2&nbsp;&nbsp;</span>Print</a></span></li></ul></li><li><span><a href="#Format" data-toc-modified-id="Format-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Format</a></span><ul class="toc-item"><li><span><a href="#Format---1" data-toc-modified-id="Format---1-9.1"><span class="toc-item-num">9.1&nbsp;&nbsp;</span>Format - 1</a></span></li><li><span><a href="#Format---2" data-toc-modified-id="Format---2-9.2"><span class="toc-item-num">9.2&nbsp;&nbsp;</span>Format - 2</a></span></li></ul></li><li><span><a href="#Strings" data-toc-modified-id="Strings-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>Strings</a></span><ul class="toc-item"><li><span><a href="#String-methods" data-toc-modified-id="String-methods-10.1"><span class="toc-item-num">10.1&nbsp;&nbsp;</span>String methods</a></span></li></ul></li><li><span><a href="#Data-structures" data-toc-modified-id="Data-structures-11"><span class="toc-item-num">11&nbsp;&nbsp;</span>Data structures</a></span><ul class="toc-item"><li><span><a href="#Lists" data-toc-modified-id="Lists-11.1"><span class="toc-item-num">11.1&nbsp;&nbsp;</span>Lists</a></span><ul class="toc-item"><li><span><a href="#list-methods" data-toc-modified-id="list-methods-11.1.1"><span class="toc-item-num">11.1.1&nbsp;&nbsp;</span>list methods</a></span></li></ul></li><li><span><a href="#Tuples" data-toc-modified-id="Tuples-11.2"><span class="toc-item-num">11.2&nbsp;&nbsp;</span>Tuples</a></span></li><li><span><a href="#sets" data-toc-modified-id="sets-11.3"><span class="toc-item-num">11.3&nbsp;&nbsp;</span>sets</a></span></li><li><span><a href="#Dictionaries" data-toc-modified-id="Dictionaries-11.4"><span class="toc-item-num">11.4&nbsp;&nbsp;</span>Dictionaries</a></span></li></ul></li><li><span><a href="#Summary" data-toc-modified-id="Summary-12"><span class="toc-item-num">12&nbsp;&nbsp;</span>Summary</a></span></li></ul></div>

## Cell types in Jupyter Notebook

###¬†Markdown

print("Code cell")

#¬†Titles

##¬†Titles

- A bullet point

[This is a link for google](https://wwww.google.es)

![This is a link for google]()

### Code

In [2]:
print("Code cell")

Code cell

### Shortcuts

In [3]:
print("I'm running this cell")

I'm running this cell

In [27]:
print(a)

30

In [24]:
a = 19

In [25]:
print(a)

19

In [26]:
a = 19
a = 30
print(a)

30

In [15]:
print(a)

30

In [6]:
a_second_time = 20

In [7]:
print(a_second_time)

20

To run the cell

- `ctrl + enter`
- `shift + enter` #this one runs the cell and jumps to the next one

- `a` for new cell above
- `b` for new cell below
- `d + d for shortcut mode

- `m` or `y` for switching between markdwon and code

# Type of data
## Integer numbers

In [28]:
a_number = 4

In [30]:
print(a_number)

4

In [32]:
print("Hello")
print(a_number)

Hello
4

In [36]:
type(a_number)

int

In [37]:
a_second_number = 4.0

In [38]:
a_second_number

4.0

In [39]:
type(a_second_number)

float

In [40]:
a_third_number = "4"

In [ ]:
type(a_third_number)

In [42]:
a_third_number_version_2 = '4'

In [43]:
type(a_third_number_version_2)

str

## Real numbers (floats)

## Basic operations

In [72]:
a = 10
b = 3

In [73]:
#¬†sum

c = a + b

In [74]:
c

13

In [75]:
# substractions

d = a - b

In [76]:
d

7

In [77]:
type(d)

int

In [78]:
#¬†division

a / b

3.3333333333333335

In [79]:
#¬†floor division

my_floor_division = a // b
my_floor_division

3

In [81]:
#¬†modulo

remainder_of_division_modulo = a % b 
remainder_of_division_modulo

1

In [82]:
print(round(0.993837837))

1

In [85]:
round(0.993837837, 4) #shift + tab (clicking on a built-in method): pop-up window with docs

0.9938

In [83]:
print(round(0.00065789))

0

###¬†built-in and imported things

methods = functions = things that do things

- print is a method
- sum is a method

some are built-in into python version
asome need to be imported

In [8]:
# pip/conda install something (library)
#¬†import the library

In [87]:
import math

In [88]:
math.floor(45678.876545678)

45678

In [91]:
math.ceil(56780.00383) #ceiling

56781

In [10]:
"math" #¬†shift & tab

'math'

In [ ]:
"math." #tab  -> dropdown window with available methods

## Strings (character strings)

In [92]:
"diyghjsFD"

'diyghjsFD'

In [93]:
type("diyghjsFD")

str

In [94]:
example_string = "this is an example"

In [95]:
type(example_string)

str

In [100]:
number_in_quotes = "4"

In [99]:
type(number_in_quotes)

int

In [101]:
number_in_single_quotes = '4'

In [102]:
type(number_in_single_quotes)

str

In [106]:
number_in_single_quotes_2 = "4'

SyntaxError: EOL while scanning string literal (1421359127.py, line 1)

In [108]:
# Q: double over single quotes for strings?

sentence_1 = "I'm feeling under the weather"
sentence_1

"I'm feeling under the weather"

In [109]:
sentence_2 = 'Im feeling under the weather'
sentence_2

'Im feeling under the weather'

In [113]:
multine_strings = """uhsdjhsd
sdsdsd
"""

In [114]:
multine_strings

'uhsdjhsd\nsdsdsd\n'

In [115]:
print(multine_strings)

uhsdjhsd
sdsdsd

In [116]:
this_is_a_string = "Random string"
print(this_is_a_string)

Random string

In [126]:
string_1 = "Hello "
string_2 = ", how are you doing."

In [142]:
#Q: add \n to the strings -> same line

#Example 1
line_break = "\n"
print(string_1 + line_break + string_2) #same

#Example 2
print("Hello " + "\n" + ", how are you doing.")  #same

Hello
, how are you doing.
Hello
, how are you doing.

In [127]:
whole_sentence = string_1 + string_2
whole_sentence

'Hello , how are you doing.'

In [128]:
string_1 * 20

'Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello '

In [129]:
string_1 / 2

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [146]:
type("üöÄ") #emojis: ctrl + commd + space

str

In [148]:
# icons on macOS: ctrl + command + space
#¬†icons on windows: windows key & .

In [147]:
#print() -> built-in method, same as a function

## Casting in Python

In [11]:
# int
#¬†floats
#¬†str

Casting means converting one data type to another. We have previously seen types such as int, string or float. Well, it is possible to convert from one type to another.
But first of all, let's see the different types of cast or type conversion that can be done. There are two:

**Implicit conversion:** This is done automatically by Python. It occurs when we perform certain operations with two different types.

**Explicit conversion:** We do this explicitly, such as converting str to int with str().

### Implicit conversion
This type conversion is done automatically by Python, practically without our realizing it. Still, it's important to know what's going on underneath to avoid future problems.

The simplest example where we can see this behavior is the following:

In [151]:
a = 5
b = 4.0

In [152]:
c = a + b

In [153]:
c

9.0

In [154]:
type(c)

float

- a is an int
- b is a float

But if we add a and b and store the result in a, we can see how internally Python has converted the int to float to perform the operation, and the resulting variable is float.
However, there are other cases where Python is not as smart and is not capable of performing the conversion. If we try to add an int to a string, we will get a TypeError.

### explicit conversion
On the other hand, we can make conversions between types or castings explicitly using different functions provided by Python. The most used are the following:

`float(), str(), int(), list(), set()`

In [157]:
four_as_string = "4"

In [159]:
four_as_int = int(four_as_string)
type(four_as_int)

int

#### Convert float to int
To convert from float to int we must use int(). But be careful, because the integer type cannot store decimals, so we will lose whatever is after the decimal point.

In [169]:
four_as_integer = 4
four_as_float = float(four_as_integer)
print("The type of the variable, is: ", type(four_as_float))
print("The actual value of the variable: ", four_as_float)

The type of the variable, is:  <class 'float'>
The actual value of the variable:  4.0

In [162]:
print("The type of the variable, is: ", type(four_as_float))
type(four_as_float)

The type of the variable, is:  <class 'float'>

float

In [165]:
print(str(type(four_as_float)))

<class 'float'>

#### Convert a float to a string
We can convert a float to a string with str(). We can see in the following code how the type of a changes after the cast.

In [170]:
str(4.0)

'4.0'

#### Convert int to str
Like the conversion to float above, we can convert from string to int using int().

In [171]:
str(4)

'4'

In [181]:
int("4")

4

## Input and output data
### Input
To assign a variable to a value entered by the user at the console, use the statement
``python
input(message) : Displays the message of the string by the terminal and returns a string with the input
  ```

In [180]:
greeting = input()

sddfdf

In [ ]:
greeting = input("Please input your greeting: ")

In [ ]:
greeting

In [196]:
age = int(input("Please input your age: "))

Please input your age: 4

In [197]:
age

4

In [198]:
age / 2

2.0

In [192]:
# Anticipating possible errors / situation
#¬†Make sure the type wil be an int
#¬†Defensive programming

### Print
The print() function prints the specified message to the screen, or to another standard output device.

The message can be a string, or any other object, the object will be converted to a string before being written to the screen.

In [199]:
a_number = 5

In [200]:
print(a_number)

5

In [201]:
type(print(a_number))

5

NoneType

In [ ]:
#¬†print
    #it prints on the screen
    #¬†returns None

## Format

### Format - 1

In [232]:
name = 10

In [235]:
greeting_string = f"Hello my name is {name} {family_name}"

In [236]:
greeting_string

'Hello my name is 10 Larrachea'

In [237]:
print("Hello my name is {name} {family_name}")

Hello my name is {name} {family_name}

### Format - 2

In [222]:
name_2 = "Nerea"

In [223]:
family_name = "Larrachea"

In [224]:
greeting_string_2 = "Hello my name is {} {}".format(name_2, family_name)

In [225]:
greeting_string_2

'Hello my name is Nerea Larrachea'

In [242]:
#¬†Q: what if it was a list I'm trying to format into a string?

a_list = [1, 2, 3]
print(f"Hello this is a list: {a_list}")

Hello this is a list: [1, 2, 3]

## Strings

### String methods
Methods are actions or functions that an object can perform. Just as Python offers a series of ‚Äúbuilt-in‚Äù functions, it also offers us a set of already created methods. These methods depend on the type of object we are working with.

In [247]:
a_string = "this is a sentence"
a_string

'this is a sentence'

We are going to explain in class some of the most used methods during bootcamp, keep in mind that you always have to keep in mind the [documentation](https://docs.python.org/3/library/stdtypes.html#string-methods )

`capitalize` Returns a copy of the string with its first character uppercase and the rest lowercase.

In [250]:
capitalized_sentence = a_string.capitalize()
capitalized_sentence

'This is a sentence'

In [249]:
a_string #1st?

'this is a sentence'

In [252]:
#¬†Q: can I overwrite it with itself?:

a_string = a_string.capitalize()
a_string


#1. Capitalized
#2. non-capitalized
#3. Error message

#1 ‚úÖ

'This is a sentence'

`upper` Returns a copy of the string with all characters in uppercase

In [253]:
a_string.upper()

'THIS IS A SENTENCE'

`isupper` Returns True if all uppercase characters in the string are uppercase and there is at least one uppercase character, False otherwise.

In [258]:
a_string_2 = 'THIS IS A SENTENCe' #¬†at least one is lower, so it'll return false

In [259]:
a_string_2.isupper()

False

`lower` Returns a copy of the string with all lowercase characters

In [260]:
a_string_2.lower()

'this is a sentence'

`islower` is like isupper but....we check for lowercase

In [261]:
a_string_2.islower()

False

`swapcase` Returns a copy of the string with uppercase characters converted to lowercase and vice versa.

In [262]:
a_string.swapcase()

'tHIS IS A SENTENCE'

`title` Returns an uppercase version of the string in which words start with an uppercase character and all other characters are lowercase.

In [263]:
a_string.title()

'This Is A Sentence'

`join(iterable)`

Returns a string that is the concatenation of the strings in the iterable. A TypeError will be raised if there are any non-string values ‚Äã‚Äãin the iterable, including bytes objects. The separator between elements is the string provided by this method.

In [277]:
a_list_of_strings = ["Clara", "Albert", "Laura"]

In [278]:
a_list_of_strings

['Clara', 'Albert', 'Laura']

In [279]:
"üôè".join(a_list_of_strings)

'ClaraüôèAlbertüôèLaura'

In [288]:
# Q: iterables that are not strings

a_list_of_things = ["Laura", "4"]
#" ".join(a_list_of_things)

# You'd have to cast it into strings

`startswith` Returns True if the string starts with the prefix, otherwise returns False. prefix can also be a tuple of prefixes to search for. With optional start, check the string starting at that position. With optional end, stop matching the string at that position.

In [292]:
a_string.startswith("T") #case sensitive

True

In [293]:
phone_number = "+3467890989"

In [295]:
phone_number.startswith("+34")

True

`endswith` Returns True if the string ends with the specified suffix, otherwise returns False.

In [296]:
phone_number.endswith("9")

True

In [297]:
# Q: check the last element of a list

list_2 = [2, 3, 4]
list_2[-1] == 4 #check the last position of the list

True

In [299]:
# Q: check one thing for every element

#¬†you'd be doing ONE thing
#¬†to EVERY element of an iterable

list_numbers = ["657483", "+4u4874", "574654"]

for i in list_numbers:
    #print(i.startswith("+"))
    print(i)

657483
+4u4874
574654

In [300]:
print(list_numbers[0])

657483

`str.lstrip([chars])`
Returns a copy of the string with the leading characters removed. The chars argument is a string that specifies the set of characters to remove. If omitted or none present, the chars argument removes whitespace by default. The chars argument is not a prefix, but all combinations of its values ‚Äã‚Äãare removed:

In [306]:
" a string ".strip()

'a string'

In [307]:
" a string ".lstrip()

'a string '

`lstrip` and `rstrip` do the same thing but with leading and trailing spaces

In [308]:
" a string ".rstrip()

' a string'

In [313]:
# Q: Can I concatenate methods/functions?

a_new_string = " a string ".replace("a", "üöÄ").upper().strip()
a_new_string

'üöÄ STRING'

In [315]:
# Q: If two mehtods at once that are opposite, what will happen?

#1. Error
#2. Last one

a_new_string = " a string ".lower().upper()
a_new_string

#2 ‚úÖ

' A STRING '

In [12]:
# Always keep in mind that string operations
# return a copy instead of the changed variable

`str.replace(old, new[, count])`
Returns a copy of the string with all occurrences of the substring old replaced by new. If the optional count argument is given, only the first occurrences of count are replaced.

In [325]:
" this string had some as in it aaaa a".replace("a", "A")

' this string hAd some As in it AAAA A'

In [326]:
" this string had some as in it aaaa a".replace("a", "A", 2)

' this string hAd some As in it aaaa a'

`str.split(sep=None)`
Returns a list of the words in the string, using sep as the delimiter string.

In [327]:
sentence_commas = "Hello, my, name is this, and ,something else"

In [328]:
sentence_commas.split(",")

['Hello', ' my', ' name is this', ' and ', 'something else']

In [330]:
sentence_commas.replace(",", "").split(" ")

['Hello', 'my', 'name', 'is', 'this', 'and', 'something', 'else']

In [331]:
a_list = sentence_commas.split(" ")
a_list

['Hello,', 'my,', 'name', 'is', 'this,', 'and', ',something', 'else']

In [334]:
# Different approach
new_list = []
for i in a_list:
    new_element = i.replace(",", "")
    new_list.append(new_element)
new_list

['Hello', 'my', 'name', 'is', 'this', 'and', 'something', 'else']

## Data structures
There are 4 elements in python that allow us to store collections of data.
- Lists
- Tuples
- sets
- Dictionaries

### Lists

Lists can contain different types of data

In [335]:
a_list = [1, 1.0, "10.0", "20"]

In [337]:
print(a_list)

[1, 1.0, '10.0', '20']

In [336]:
for i in a_list:
    print(i)

1
1.0
10.0
20

#### list methods
`append` Adds an item to the end of the list.

In [338]:
a_list

[1, 1.0, '10.0', '20']

In [339]:
a_list.append("a new item")

In [340]:
a_list

[1, 1.0, '10.0', '20', 'a new item']

In [345]:
# Q: what if I want to append more than one item?

a_list.append([2, 3, 4, 6, 7])

In [346]:
a_list

[1, 1.0, '10.0', '20', 'a new item', 1, [2, 3, 4, 6, 7]]

`extend` Extend the list by adding all the items in the iterable to it

In [347]:
a_list.extend([2, 3, 4, 6, 7])

In [348]:
a_list

[1, 1.0, '10.0', '20', 'a new item', 1, [2, 3, 4, 6, 7], 2, 3, 4, 6, 7]

`insert` Inserts an item at a given position. The first argument is the index of the item to be inserted before, so a.insert(0, x) inserts at the beginning of the list and a.insert(len(a), x) is equivalent to a.append(x ).

In [351]:
a_list.append("last position")

In [353]:
print(a_list)

[1, 1.0, '10.0', '20', 'a new item', 1, [2, 3, 4, 6, 7], 2, 3, 4, 6, 7, 'last position']

In [356]:
a_list.insert(4, "the new element") #the number will be its actual position

In [357]:
a_list

[1,
 1.0,
 '10.0',
 '20',
 'the new element',
 'a new item',
 1,
 [2, 3, 4, 6, 7],
 2,
 3,
 4,
 6,
 7,
 'last position']

`remove` Removes the first item in the list whose value is x. Throws a ValueError if no such item exists.

In [358]:
a_list.remove(1)

In [359]:
a_list

[1.0,
 '10.0',
 '20',
 'the new element',
 'a new item',
 1,
 [2, 3, 4, 6, 7],
 2,
 3,
 4,
 6,
 7,
 'last position']

In [ ]:
# create new list
#¬†check every element of the list
#¬†if the elemnent is a ONE
#¬†dont append it to the new list
#¬†otherwise, do append

`pop` Pops the item at the given position from the list and returns it. If no index is specified, a.pop() pops and returns the last element in the list.

`clear` Removes all elements from the list

`count` Returns the number of times x appears in the list.

`list.sort()` See also [sorted()](https://docs.python.org/3/howto/sorting.html).

`list.reverse()`
Reverses list items in place.

`slicing` is not a method as such, but we can play with the elements of the lists and their positions

### Tuples

Tuples in Python are a data type or structure that allows you to store data in much the same way as lists, except that they are immutable. So we will not be able to:
 - change your items
 - add new values

Advantages of tuples
 * faster
 * The data cannot be modified
 
It is also possible that we use tuples when we want to return multiple values ‚Äã‚Äãin the `return` of a function

### sets
Sets are used to store multiple elements in a single variable. Unlike lists, they contain single elements and do not have an order.

`add` Adds an element to the set

`clear` Clears all elements of the set

`copy` Returns a copy of the set

`difference()` Returns a set containing the difference between two or more sets. What it actually returns are the elements that are ONLY in the first set.

`discard` Removes the specified element

`remove` Removes the specified element

`intersection()` Returns a set that is the intersection of two or more sets

`issubset` Returns whether or not another set contains this set

`issuperset` Returns whether this set contains another set or not

`pop` Removes an element from the set. It eliminates the last element of a set and, in addition, it returns it to us. Differentiates from lists that have no parameters to pass an index to

`union` Returns a set containing the union of sets

`update` Updates the set with another set, or any other iterable

### Dictionaries

In [13]:
#¬†{key:value, key:value}

`clear` Removes all elements from the dictionary

`items()` Returns a list containing one tuple for each key-value pair

`keys` Returns a list of the keys in the dictionary

`values` Returns a list of all values ‚Äã‚Äãin the dictionary

`pop()` Removes the element with the specified key. It returns me the value.

`popitem` Removes the last inserted key-value pair

`update` Updates the dictionary with the specified key-value pairs

## Summary
It's your turn, what have we learned today?